        <div id="google-map" style="height:650px" data-latitude="46.6849631" data-longitude="0.3635327"></div>
        <div class="container-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-8">
                        <div class="contact-form">
                            <h3>DFM-Europe</h3>

                            <address>
                              21 Rue de brin<br>
                              86130 Jaunay Clan, France<br>
                              Téléphone: (+33) 610150607 (+33) 549458135<br>
                              E-mail: <a href="mailto:info@dfm-europe.com">info@dfm-europe.com</a><br>
                            </address>

                            <form id="main-contact-form" name="contact-form" method="post" action="#">
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control" placeholder="Nom" required>
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control" placeholder="Email" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="subject" class="form-control" placeholder="Sujet" required>
                                </div>
                                <div class="form-group">
                                    <textarea name="message" class="form-control" rows="8" placeholder="Message" required></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Envoyer</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
