        <div class="container">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Nos valeurs</h2>
            
            </div>

            <div class="row text-center">
                <div class="col-sm-3 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                        <img class="img-responsive" style="margin: 0 auto; margin-bottom: 10px;" src="{{ 'assets/images/icon/pic1.png'|theme }}" alt="">
                        <strong>Qualité de service</strong>
                        <p>100% de nos clients satisfaits</p>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                        <img class="img-responsive" style="margin: 0 auto; margin-bottom: 10px;" src="{{ 'assets/images/icon/pic2.png'|theme }}" alt="">
                        <strong>Une présence internationale</strong>
                        <p>France, Espagne, Vietnam, Brésil</p>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                        <img class="img-responsive" style="margin: 0 auto; margin-bottom: 10px;" src="{{ 'assets/images/icon/pic3.png'|theme }}" alt="">
                        <strong>Sécurité Optimisée</strong>
                        <p>Échanges de données100% sécurisée</p>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                        <img class="img-responsive" style="margin: 0 auto; margin-bottom: 10px;" src="{{ 'assets/images/icon/pic4.png'|theme }}" alt="">
                        <strong>Adaptabilité</strong>
                        <p>Ergonomie et design sont les clés d'un outil intuitif et à usage facilité</p>
                    </div>
                </div>
            </div>
        </div>
