        <div class="owl-carousel">
            <div class="item" style="background-image: url({{ 'assets/images/slider/1.jpg'|theme }});">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h2><span>Solution globale, tarifs attractifs</span></h2>
                                    <p>Proposition des services offshore personnalisés, des solutions de qualité, à des tarifs attractifs</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
             <div class="item" style="background-image: url({{ 'assets/images/slider/3.jpg'|theme }});">
                <div class="slider-inner">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h2><span>Interlocuteur privilégié</span></h2>
                                    <p>Un management dédié et une approche projet limite le raisonnement itératif</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.owl-carousel-->
